<script setup>
import { Head } from '@inertiajs/vue3';
import AuthenticationCardLogo from '@/Components/AuthenticationCardLogo.vue';
import AppLayout from "@/Layouts/AppLayout.vue"

defineProps({

    user: Object,
    zones: Array
});
</script>

<template>
    <Head title="Privacy Policy" />

    <AppLayout title="Dashboard">
        <template #header>
            <Header-3>
                Home Page
            </Header-3>
        </template>
        <section style="display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 100vh;">
            <div>
                <article style="display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        margin: 10px auto;">
                    <table>
                        <thead style="border: 1px solid green;">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody style="border: 1px solid green;">
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
                <article>
                    <div v-for="zone in zones" :key="zone.id">
                        <div :style="{
                                position: 'absolute',
                                top: `${zone.position_top}px`,
                                left: `${zone.position_left}px`,
                                width: `${zone.width}px`,
                                height: `${zone.height}px`,
                                backgroundColor: 'rgba(50, 205, 50, 0.5)',
                                border: '1px solid #000',
                                margin: '240px'
                            }" @mouseover="zone.hover = true" @mouseout="zone.hover = false" @click="editZone(zone)">
                            <div v-show="zone.hover">{{ zone.name }}</div>
                        </div>
                    </div>
                </article>
                <article style="margin: 20px auto;
                text-align: center;" v-if="editingZone">
                    <h2 style="font-size: 24px;">Change Area</h2>
                    <form @submit.prevent="submitForm">
                        <label>
                            Name :
                            <input type="text" v-model="form.name" />
                        </label>
                        <label>
                            Position top :
                            <input type="number" v-model="form.position_top" />
                        </label>
                        <label>
                            Position left :
                            <input type="number" v-model="form.position_left" />
                        </label>
                        <label>
                            Height:
                            <input type="number" v-model="form.width" />
                        </label>
                        <label>
                            Width :
                            <input type="number" v-model="form.height" />
                        </label>
                        <button style="margin-left: 24px;" type="submit">Save</button>
                        <button style="margin-left: 24px;" type="button" @click="cancelEdit">Cancel</button>
                    </form>
                </article>
            </div>
            <div style="text-align: center; margin-bottom: 100px;">
                <a style="border: 4px solid green; font-size: 42px;" href="./">Cancel</a>
            </div>
        </section>
    </AppLayout>
</template>
<!-- script>
// FIXME : This vue version is written in composition api mode. 
// I believe Inertia requires it so we've gotta learn it. 

export default {
    data() {
        return {
            editingZone: null,
            form: {
                name: '',
                position_top: 0,
                position_left: 0,
                width: 0,
                height: 0
            }
        };
    },
    methods: {
        editZone(zone) {
            this.editingZone = zone;
            this.form.name = zone.name;
            this.form.position_top = zone.position_top;
            this.form.position_left = zone.position_left;
            this.form.width = zone.width;
            this.form.height = zone.height;
        },
        cancelEdit() {
            this.editingZone = null;
        },
        submitForm() {
            this.$inertia.put(`/zones/${this.editingZone.id}`, this.form)
                .then(response => {
                    console.log(response);

                    this.editingZone = null;
                })
                .catch(error => {
                    console.error(error);
                });
        }
    }
};
</script -->
