<script setup>
import { Head, Link } from '@inertiajs/vue3';


</script>

<template>
    <div class="flex space-between items-center justify-between	p-8">
        <slot />
    </div>

</template>

<style scoped>
    p{
        text-decoration: underline;
        font-weight: 600;
    }

    div{
        background-color: var(--main-white);
    }

</style>

